.Games-lista--principal {
    min-height: 632px;
    padding-right: 0px;
}

.Games-lista ul li.hasVideo:hover img, .Games-lista-top li.hasVideo:hover img {
    display: block;
}

.GameScreen-GameBox-related--izquierda li.hasVideo:hover img {
    display: block;
}


.GameScreen-breadcrumb h2 {
	color: #fff;
}